.container{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 400px 1100px 200px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}



header{
    grid-area: header;
    background-color: bisque;
    text-align: center;
}

nav{
    grid-area: nav;
    background-color: chartreuse;
}



main{
    grid-area: main;
    background-color: blue;
}



footer{
    grid-area: footer;
    background-color: brown;
}
