.container{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 600px 1100px 300px;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}



header{
    grid-area: header;
    background-color: lightslategray;
    text-align: center;
}

nav{
    grid-area: nav;
    background-color: chartreuse;
    background-image: url(https://www.idrefjall.se/globalassets/bilder/skidakning/alpint/privatlektion-alpint.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#ResTillFjällenText{
    margin-left: 35%;
    margin-top: 150px;
}

#navbarBasic {
    margin-top: 250px;
}

#LäsMerKnapp{
    margin-left: 45%;
    margin-top: 60px;
}


main{
    grid-area: main;
    background-color: gray;
    padding-left: 1%;
    padding-right: 2%;
}

.column img {
    object-fit: cover;
    height: 300px;
}



footer{
    grid-area: footer;
    background-color: brown;
    text-align: center;
}
